{% extends "base.html" %}


{% block title %}
Home
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}

<a href="{% url 'ecommerce:details' %}"> details </a>

<ul>
    <li>spend money last week: {{user_info.spend_money_week|default_if_none:0|floatformat}} </li>
    <li>bought tickets last week: {{user_info.bought_last_week|default_if_none:0}} </li>
    <li>spend money last month: {{user_info.spend_money_month|default_if_none:0|floatformat}} </li>
    <li> bought tickets last month: {{user_info.bought_last_month|default_if_none:0}} </li>
    <li>spend money last year: {{user_info.spend_money_year|default_if_none:0|floatformat}} </li>
    <li> bought tickets last year: {{user_info.bought_last_year|default_if_none:0}} </li>
</ul>
<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Send">
</form>
{% else %}
<a href="{% url 'user:login' %}"> Login </a>
<br>
<a href="{% url 'user:register' %}"> Register </a>
{% endif %}

{% endblock %}
